---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About - Emanuele Stoppa" description="About Emanuele Stoppa" ogImage="/og/about.png">
  <div class="space-y-8">
      <div class="text-center space-y-4">
          <h1 class="text-3xl sm:text-4xl font-bold text-gray-900 dark:text-gray-100">About me</h1>
          <p class="text-lg text-gray-600 dark:text-gray-400 max-w-2xl mx-auto">
          </p>
      </div>

      <div class="max-w-2xl mx-auto">
          <p class="text-gray-600 dark:text-gray-400 leading-relaxed">
              Under construction.
          </p>
      </div>
  </div>
</Layout>
